ul.posts { 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

ul.posts li p {
  font-weight: bold;
}

ul.archive {
  font-weight: bold;
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.postnav {
  width: 19%;
  height: 100vh;
  float: left;
  overflow-y: scroll;
}

div.postnav a {
  color: blue;
}

div.postnav h2 {
  padding-left: 20px;
  font-size: 1.6em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.postnav p {
  font-size: 1.2em;
}

div.postholder {
  width: 80%;
  height: 100vh;
  float: left;
  margin: auto;
  border-right: 1px solid #d5d5d5;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-y: scroll;
}

div.postholder p, ul, table {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

div.postholder table {
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

div.postholder th {
    border:2px solid #000000;
}

div.postholder td {
    border:1px solid #000000;
}

div.image {
  margin-left: auto;
  margin-right: auto;
}

div.separator {
  border-top: 3px solid #444444;
}

div.centerer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}