ul.posts {
  font-size: 1.2em;
}

ul.posts li {
  list-style: none;
}

ul.posts li p {
  font-weight: bold;
}

ul.archive {
  font-weight: bold;
  font-size: 1.2em;
}

ul.archive li {
  margin-bottom: -10px;
}

h1 {
  font-size: 2.5em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

div.postlist {
  float: left;
  width: 100%;
}

div.postlist li {
  margin: 10px;
  display: block;
  float: left;
  width: 30%;
}

div.postnav a {
  color: blue;
}

div.postnav h2 {
  padding-left: 20px;
  font-size: 1.6em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

div.postnav p {
  font-size: 1.2em;
}

div.archivediv {
  float: none;
}

div.postholder {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-y: scroll;
}

div.postholder p,
div.postholder ul,
div.postholder ol,
div.postholder table,
div.postholder pre {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

div.postholder code {
  font-size: 0.85em;
  /* Prevent code from being huge inside p, and generally look better */
  background-color: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

div.postholder pre code {
  font-size: 0.9em;
  /* Block code size */
  background-color: transparent;
  padding: 0;
}

div.side-by-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

div.side-by-side>* {
  max-width: 50%;
}

/* Syntax Highlighting */
.highlight .c {
  color: #999988;
  font-style: italic
}

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

/* Error */
.highlight .k {
  color: #000000;
  font-weight: bold
}

/* Keyword */
.highlight .o {
  color: #000000;
  font-weight: bold
}

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold
}

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic
}

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd
}

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa
}

/* Generic.Deleted.Specific */
.highlight .ge {
  color: #000000;
  font-style: italic
}

/* Generic.Emph */
.highlight .gr {
  color: #aa0000
}

/* Generic.Error */
.highlight .gh {
  color: #999999
}

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd
}

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa
}

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888
}

/* Generic.Output */
.highlight .gp {
  color: #555555
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa
}

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000
}

/* Generic.Traceback */
.highlight .kc {
  color: #000000;
  font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
  color: #000000;
  font-weight: bold
}

/* Keyword.Declaration */
.highlight .kp {
  color: #000000;
  font-weight: bold
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #000000;
  font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold
}

/* Keyword.Type */
.highlight .m {
  color: #009999
}

/* Literal.Number */
.highlight .s {
  color: #d14
}

/* Literal.String */
.highlight .na {
  color: #008080
}

/* Name.Attribute */
.highlight .nb {
  color: #0086B3
}

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold
}

/* Name.Class */
.highlight .no {
  color: #008080
}

/* Name.Constant */
.highlight .ni {
  color: #800080
}

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold
}

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold
}

/* Name.Function */
.highlight .nn {
  color: #555555
}

/* Name.Namespace */
.highlight .nt {
  color: #000080
}

/* Name.Tag */
.highlight .nv {
  color: #008080
}

/* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold
}

/* Operator.Word */
.highlight .w {
  color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mf {
  color: #009999
}

/* Literal.Number.Float */
.highlight .mh {
  color: #009999
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14
}

/* Literal.String.Char */
.highlight .sd {
  color: #d14
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14
}

/* Literal.String.Double */
.highlight .se {
  color: #d14
}

/* Literal.String.Escape */
.highlight .sh {
  color: #d14
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14
}

/* Literal.String.Other */
.highlight .sr {
  color: #009926
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14
}

/* Literal.String.Single */
.highlight .ss {
  color: #990073
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080
}

/* Name.Variable.Class */
.highlight .vg {
  color: #008080
}

/* Name.Variable.Global */
.highlight .vi {
  color: #008080
}

/* Name.Variable.Instance */
.highlight .il {
  color: #009999
}

/* Literal.Number.Integer.Long */

div.postholder table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
}

div.postholder th {
  border: 2px solid #000000;
}

div.postholder td {
  border: 1px solid #000000;
}

div.image {
  margin-left: auto;
  margin-right: auto;
}

div.centerer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}